#gameArea{
  background-color: rgb(71, 3, 134);
  width: 1500px ;/*largura*/
  height: 700px ;/*altura*/
  border: 5px solid black;
  position:absolute;
  bottom: 10; 
}

#dino{
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 50;
}

#obstaculo{
  background-color: rgba(251, 51, 51, 0.916);
  width: 50px;
  height: 50px;
  position:absolute;
  bottom: 0;
  right: 0;
}

@keyframes jump{
  0% {bottom: 0;}
  50% {bottom: 200px;}
  100% {bottom: 0;}
}
